      /*.stylethisdiv {
        font-family: "Outfit";
        margin-left: 18px;
        text-align: center;
        margin-top: 200px;
        font-size: 17px;
        
      }*/
      

      

      
      
      @media (max-width: 2560px) {
        .stylethisdiv {
        font-family: "Outfit";
        margin-left: 25px;
        text-align: center;
        margin-top: 200px;
        font-size: 25px;
        margin-right: 25px;

        .testtextparag {
          margin-left: 100px;
          margin-right: 100px;
        }
        
      }
      }

      /*@media (max-width: 480px) {
        .stylethisdiv {
        font-family: "Outfit";
        font-size: 14px;
        margin: 10px;
      }
      }*/
      
      
      
      @media (max-width: 600px) {

        .stylethisdiv {
          font-size: 14px;
          margin-left: 50px;
          margin-right: 50px;
            margin-top: 300px;
        
          .testtextparag {
          font-size: 14px;
          margin-left: 0px;
          margin-right: 0;
        }
        }

        

        

        .csssendbut {
          margin-top: 25px;
        }

        .css-input {
          width: 100%;
        }
      }



      
      .cssstartbut {
        color: rgb(255, 255, 255);
        background-color: black;
        border-radius: 16px;
        border: none;
        padding: 11px 18px;
        font-size: 17px;
        margin-top: 10px;
        font-family: "Outfit";
        cursor: pointer;
      }
      .cssstartbut:hover {
        color: rgb(249, 255, 73);
        background-color: rgb(0, 0, 0);
        border-radius: 16px;
        border: none;
        padding: 10.3px 61px;
        font-size: 17px;
        margin-top: 10px;
        font-family: "Outfit";
        cursor: pointer;
      }

      .csssendbut {
        color: rgb(255, 255, 255);
        background-color: black;
        border-radius: 12px;
        border: none;
        padding: 4px 13px;
        padding-top: 2px;
        font-size: 20px;
        font-family: "Outfit";
        cursor: pointer;
        margin-left: 10px;
      }
      .csssendbut:hover {
        color: rgb(249, 255, 73);
        background-color: black;
        border-radius: 12px;
        border: none;
        padding: 4px 13px;
        padding-top: 2px;
        font-size: 20px;
        font-family: "Outfit";
        cursor: pointer;
        margin-left: 10px;
      }

      .cssrefreshbut {
        color: rgb(255, 255, 255);
        background-color: black;
        border-radius: 12px;
        border: none;
        padding: 8px 15px;
        font-size: 15px;
        font-family: "Outfit";
        cursor: pointer;
      }

      .cssrefreshbut:hover {
        color: rgb(249, 255, 73);
        background-color: rgb(0, 0, 0);
        border-radius: 12px;
        border: none;
        padding: 7.3px 40.5px;
        font-size: 15px;
        font-family: "Outfit";
        cursor: pointer;
      }

      .css-input {
        appearance: none;
        cursor: pointer;
        &::-webkit-slider-thumb {
          appearance: none;
          background-color: yellow;
          width: 7px;
          height: 20px;
          margin-top: -7.5px;
          border-radius: 3px;
        }

        &::-webkit-slider-runnable-track {
          background-color: rgb(247, 245, 245);
          height: 5px;
          border-radius: 3px;
        }
      }


      

